# Configuración de base de datos
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

#Configuracion Jupyter
JUPYTER_TOKEN=

# Configuración de IA
OLLAMA_URL=http://ollama:11434/api/generate
LLM_MODEL=llama3.2

GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile